#pragma once

#define _VERSION_INNER_STR(src) #src
#define _VERSION_STR(src) _VERSION_INNER_STR(src)

#define EDITING_VERSION_MAJOR 2
#define EDITING_VERSION_MINOR 0
#define EDITING_VERSION_PATCH "$PATH_VERSION"

#define EDITING_VERSION _VERSION_STR(EDITING_VERSION_MAJOR) "." _VERSION_STR(EDITING_VERSION_MINOR) "." EDITING_VERSION_PATCH
